<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestLeafApplicationTestSuite" verbose="1"	parallel="none">
<!-- 
	<groups>
		<run>
			<include name="TeamB" />
			<exclude name="TeamC" />
		</run>
	</groups> -->
	
	<listeners>
		<listener class-name="selenium.RetryTransformer" />
	</listeners>

	<parameter name="linkName" value="Draggable"/>
	<parameter name="Text on Page" value="Play with Draggable"/>
	<parameter name="XpathOfDraggable" value="//div[@id='draggable']"/>


	<test thread-count="5" name="TestingTestLeafApp">
		<classes>
			<class name="selenium.TestLeafApplication" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
